<div class="tab flexrow active" data-group="primary" data-tab="description">

  <div class="item-properties">
    <div class="form-group">
      <label>{{ localize "N5E.Quantity" }}</label>
      <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
    </div>

    <div class="form-group">
      <label>{{ localize "N5E.Bulk" }}</label>
      <input type="text" name="system.bulk" value="{{system.bulk}}" data-dtype="Number" />
    </div>

    <div class="form-group">
      <label>{{ localize "N5E.Price" }}</label>
      <input type="text" name="system.price.value" value="{{system.price.value}}" data-dtype="Number" />
      ryo
    </div>

    {{#if isGM}}
    <div class="form-group">
      <label>{{localize 'N5E.ItemContainerCapacity'}}</label>
      <div class="form-fields">
        <input type="text" name="system.capacity.value" value="{{system.capacity.value}}" data-dtype="Number"
          placeholder="-">
      </div>
    </div>
  
    <div class="form-group">
    <label class="label">{{localize 'N5E.ItemContainerCapacityType'}}</label>
    </div>
  
    <div class="form-group">
      <select name="system.capacity.type">
        {{#select system.capacity.type}}
        {{#each config.itemCapacityTypes}}
        <option value="{{@key}}">{{localize this}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="form-group">
      <label>Bag Bulk</label>
      <input type="number" name="flags.itemcontainersn5e.bagBulk" value="{{flags.itemcontainersn5e.bagBulk}}">
    </div>
    <div class="form-group">
      <label>Bag Price</label>
      <input type="number" name="flags.itemcontainersn5e.bagPrice" value="{{flags.itemcontainersn5e.bagPrice}}">
       ryo
    </div>
    {{else}}
    <div class="form-group">
      <label>{{localize 'N5E.ItemContainerCapacity'}}</label> {{system.capacity.value}}

    </div>

    <div class="form-group">
      <label>{{localize 'N5E.ItemContainerCapacityType'}}</label> {{system.capacity.type}}
    </div>

    <div class="form-group">
      <label>Bag Bulk</label> {{flags.itemcontainersn5e.bagBulk}}
    </div>
    <div class="form-group">
      <label>Bag Price</label> {{flags.itemcontainersn5e.bagPrice}} ryo
    </div>
    {{/if}}
    {{#if itemProperties.length}}
    <h4 class="properties-header">{{localize "N5E.Properties"}}</h4>
    <ol class="properties-list">
      {{#each itemProperties}}
      <li>{{this}}</li>
      {{/each}}
    </ol>
    {{/if}}
  </div>
  {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror"
  collaborate=false}}
</div>