<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Item Sheet Header -->
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}" />
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary flexrow">
        <li>
            {{localize "N5E.ItemTypeContainer"}}
        </li>
        <li>
          <select name="system.rarity">
              {{selectOptions config.itemRarity selected=system.rarity blank=""}}
          </select>
        </li>
        <li>
          <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}" />
        </li>
      </ul>
    </div>
  </header>

  <!-- Item Sheet Navigation -->
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "N5E.Description" }}</a>
    <a class="item active" data-tab="details">{{ localize "N5E.Details" }}</a>
  </nav>

  <!-- Item Sheet Body -->
  <section class="sheet-body">

    <!-- Description Tab -->
    {{> "modules/itemcontainersn5e/templates/bag-description.hbs"}}

    <!-- Details Tab -->
    <div class="tab details itemcontainersn5e-details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize 'N5E.ItemContainerDetails'}} {{parentName}}</h3>

      <div class="form-group compressed" style="flex-direction: column; padding-bottom: 1.5rem;">
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="system.capacity.weightless" {{checked system.capacity.weightless}}>
          {{localize 'N5E.ItemContainerWeightless'}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="flags.itemcontainersn5e.weightlessUnequipped" {{checked flags.itemcontainersn5e.weightlessUnequipped}}>
          {{localize 'itemcontainersn5e.ItemContainerWeightlessUnequipped'}}
        </label>
        {{else}}
          {{#if system.capacity.weightless}}  <label class="checkbox"> {{localize 'N5E.ItemContainerWeightless'}}</label> {{/if}}
          {{#if flags.itemcontainersn5e.weightlessUnequipped}}  <label class = "checkbox"> {{localize 'itemcontainersn5e.ItemContainerWeightlessUnequipped'}}</label> {{/if}}
        {{/if}}
        <div><label>{{localize 'itemcontainersn5e.itemsBulk'}} </label> {{itemsBulk}}
        </div>
        {{#if itemcontainersn5e.totalRyoValue}}
        <div><label>{{localize 'itemcontainersn5e.totalRyoValue'}} </label> {{totalRyoValue}} </div>
        {{/if}}
      </div>

      {{#if showCurrency}}
      <ol class="currency flexrow" style="justify-content: center;">
        {{#each system.currency as |v k|}}
        <label>{{ lookup ../currencies k }}</label>
        <input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        {{/each}}
      </ol>
      {{/if}}


      <li class="items-header"
        style="text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr; display: grid; align-items: center;">
        <div class="item-name" style="text-align: start;">{{localize 'itemcontainersn5e.Name'}}
          <input class="item-name-filter" type="text" name="filter" placeholder="filter" value="{{filter}}"
            style="text-align: left">
        </div>
        <div class="item-detial">{{localize 'itemcontainersn5e.Quantity'}}</div>
        <div class="item-detail item-Bulk">{{localize "N5E.Bulk"}}</div>
        <div class="item-detail item-Bulk">{{localize "N5E.Bulk"}} (Stack)</div>
        <div class=item-control>
          {{#if isOwned}}
          <a class="item-control item-export-all" title="{{localize 'itemcontainersn5e.itemExportAll'}}"><i
              class="fas fa-minus"> {{localize 'itemcontainersn5e.All'}}</i></a>
          <a class="item-control item-import-all" title="{{localize 'itemcontainersn5e.itemImportAll'}}"><i
              class="fas fa-plus"> {{localize 'itemcontainersn5e.All'}}</i></a>
          {{/if}}
          <a class="item-control item-compact-all" title="{{localize 'itemcontainersn5e.itemCompactAll'}}"><i
              class="fas fa-star"> {{localize 'itemcontainersn5e.All'}}</i></a>
        </div>
      </li>

      <ol class="items-list inventory-list">
        {{#each items as |item iid|}}
        <li class="item item-inventory-line" data-item-id="{{item._id}}" data-item-name="{{item.name}}"
          style="display: grid; text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr;">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
            <h4>
              {{#if item.isJutsu}}
              Rank {{item.system.rank}}
              {{/if}}
              {{item.name}}
            </h4>
          </div>
          <div>{{item.system.quantity}}</div>
          <div>{{item.system.bulk}} </div>
          <div>{{item.totalBulk}} </div>

          <div class="item-controls flexrow">
            <a class="item-control item-edit" title='{{localize "N5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
            {{#if item.isContainer}}
            <a class="item-control item-export" title="{{localize 'itemcontainersn5e.itemExportB'}}"><i
                class="fas fa-asterisk"></i></a>
            {{else}}
            {{#if ../isOwned}}
            {{#if ../canImportExport}}
            <a class="item-control item-export" title="{{localize 'itemcontainersn5e.itemExport'}}"><i
                class="fas fa-minus"></i></a>
            {{/if}}
            {{/if}}
            <a class="item-control item-split" title="Split Item"><i class="fas fa-columns"></i></a>
            {{#if ../canConvertToRyo}} <a class="item-control item-convertToRyo" title="Convert To Ryo"><i
                class="fas fa-dollar-sign"></i></a> {{/if}}
            {{/if}}
            <a class="item-control item-delete" title='{{localize "N5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>