<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Item Sheet Header -->
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}" />
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary flexrow">
        <li></li>
        <li>
          <input type="text" name="system.rarity" value="{{system.rarity}}"
            placeholder="{{ localize 'N5E.Rarity' }}" />
        </li>
        <li>
          <input type="text" name="system.source" value="{{system.source}}"
            placeholder="{{ localize 'N5E.Source' }}" />
        </li>
      </ul>
    </div>
  </header>


  <!-- Item Sheet Navigation -->
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
  </nav>

  <!-- Item Sheet Body -->
  <section class="sheet-body">

    <!-- Description Tab -->
    {{> "modules/itemcontainersn5e/templates/bag-description.hbs"}}

    <!-- Details Tab -->
    <div class="tab details itemcontainersn5e-details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize 'N5E.ItemContainerDetails'}} {{parentName}}</h3>

      {{#if isGM}}
      <div class="form-group compressed">
        <label>Ryo Value </label> {{totalRyoValue}}
      </div>
      <div class="form-group compressed">
        <label>{{localize 'itemcontainersn5e.Markup'}}</label>
        <input type="text" name="flags.itemcontainersn5e.markup" value="{{flags.itemcontainersn5e.markup}}"
          data-dtype="Number" placeholder="">
      </div>

      {{#if system.currency}}
      <ol class="currency flexrow">
        {{#each system.currency as |v k|}}
        <label>{{ lookup ../currencies k }}</label>
        <input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        {{/each}}
      </ol>
      {{/if}}
      {{/if}}

      <li class="items-header"
        style="text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr; display: grid; align-items: center;">
        <div class="item-name" style="text-align: start;">{{localize 'itemcontainersn5e.Name'}}
          <input class="item-name-filter" type="text" name="filter" placeholder="filter" value="{{filter}}"
            style="text-align: left">
        </div>
        <div class="item-detial">{{localize 'itemcontainersn5e.Quantity'}}</div>
        <div class="item-detail item-bulk">{{localize "N5E.Bulk"}}</div>
        <div class="item-detail item-bulk">{{localize "N5E.Bulk"}} (Stack)</div>
        <div class="item-detail">{{localize "N5E.Price"}}</div>
        <div class=item-controls flexrow>
          {{#if isGM}}
          {{#if isOwned}}
          <a class="item-control item-export-all" title="Export All Items"><i class="fas fa-minus"> All</i></a>
          <a class="item-control item-import-all" title="Import All Items"><i class="fas fa-plus"> All</i></a>
          {{/if}}
          <a class="item-control item-compact-all" title="Compact All Items"><i class="fas fa-star"> All</i></a>
          {{/if}}
        </div>
      </li>

      <ol class="items-list inventory-list">
        {{#each items as |item iid|}}
        <li class="item item-inventory-line" data-item-id="{{item._id}}" data-item-name="{{item.name}}"
          style="text-align: center; display: grid; grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
            <h4>
              {{#if item.isJutsu}}
              Rank {{item.system.rank}}
              {{/if}}
              {{item.name}}
            </h4>
          </div>
          <div>{{item.system.quantity}}</div>
          <div>{{item.system.bulk}}</div>
          <div>{{item.totalBulk}}</div>

          <span class="item-price">{{item.system.marketPrice}}</span>
          <div class="item-controls flexrow">
            <a class="item-control item-convertToRyo" title="{{localize 'itemcontainersn5e.Purchase'}}"><i
                class="fas fa-dollar-sign"></i></a>
            <a class="item-control item-split" title="Split Item"><i class="fas fa-columns"></i></a>
            {{#if ../isGM}}
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>