.itemcontainersn5e-details {
  color: #404040;
}

.itemcontainersn5e-details select {
  color: #404040;
}

.itemcontainersn5e-details h3 {
  color: #404040;
}

.itemcontainersn5e-details .compressed {
  padding: 0 0px;
  overflow-y: auto;
  line-height: 18px;
  margin: 0px;
  height: 20px;
  overflow: hidden;
}

.itemcontainersn5e-details input[type=text] {
  text-align: right;
}

.itemcontainersn5e-details .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 4px;
  font-size: 12px;
  border: groove;
}

.itemcontainersn5e-details .currency label {
  flex: 0;
  margin-left: 8px;
  margin-top: 4px;
  text-align: right;
  line-height: 18px;
  color: eeede0;
}

.itemcontainersn5e-details .currency input[type=text] {
  flex: 0 0 48px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}

.itemcontainersn5e-details input[type=text] {
  text-align: right;
  max-width: 60px;
  padding-right: 0px;
  margin-right: 0px;
}

.itemcontainersn5e-details .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 0px;
  overflow-y: auto;
}

.itemcontainersn5e-details .inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.itemcontainersn5e-details .inventory-list .item:last-child {
  border-bottom: none;
}

.itemcontainersn5e-details .inventory-list .item .item-name {
  cursor: pointer;
}

.itemcontainersn5e-details .inventory-list .item .item-name .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}

.itemcontainersn5e-details .inventory-list .item .item-name h4 {
  margin: 0;
}

.itemcontainersn5e-details .inventory-list .item .item-properties {
  margin-top: 3px;
}

.itemcontainersn5e-details .inventory-list .item .item-properties .label {
  height: 22px;
}

.itemcontainersn5e-details .inventory-list .item .item-price {
  flex: 0 0 30px;
  text-align: right;
  font-size: 11px;
}

.itemcontainersn5e-details .inventory-list .item .item-quantity,
.itemcontainersn5e-details .inventory-list .item .item-bulk {
  flex: 0 0 25px;
  text-align: right;
  font-size: 11px;
}

.itemcontainersn5e-details .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}

.itemcontainersn5e-details .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  font-size: 13px;
  font-weight: bold;
}

.itemcontainersn5e-details .inventory-list .inventory-header .item-controls .item-export-all {
  flex: 0 0 100%;
}

.itemcontainersn5e-details .inventory-list .item-detail {
  flex: 0 0 80px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}

.itemcontainersn5e-details .inventory-list .item-detail:last-child {
  border-right: none;
}

.itemcontainersn5e-details .inventory-list .item-bulk {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}

.itemcontainersn5e-details .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemcontainersn5e-details .inventory-list .item-controls {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-content: flex-end;
}

.itemcontainersn5e-details .inventory-list .item-controls > * {
  flex: 1;
}

.itemcontainersn5e-details .inventory-list .item-controls .flex1 {
  flex: 1;
}

.itemcontainersn5e-details .inventory-list .item-controls .flex2 {
  flex: 2;
}

.itemcontainersn5e-details .inventory-list .item-controls .flex3 {
  flex: 3;
}

.itemcontainersn5e-details .inventory-list .item-controls .flex4 {
  flex: 4;
}

.itemcontainersn5e-details .inventory-list .item-summary {
  height: 30px;
  border-bottom: groove;
  font-size: 18px;
}